<style>
.mgc-ymca {
    background-image: url('{{imageUrlAssets}}/C8030588_01a.jpg');
}

@media only screen and (max-width: 1023px) {
    .mgc-info1 {
        background-image: url('{{imageUrlAssets}}/C8030589_info1.jpg');
    }
    .mgc-info2 {
        background-image: url('{{imageUrlAssets}}/C8030589_info2.jpg');
    }
    .mgc-info3 {
        background-image: url('{{imageUrlAssets}}/C8030589_info3.jpg');
    }
}
</style>
<div class="mgc-container">
<!--
    {{! SOCIAL }}

    <div class="mgc-social text-center show-for-large-up">
        <p>Share</p>
        <a href="https://www.facebook.com/sharer.php?u=https://www.macys.com/ce/splash/make-good-cents/index&picture=https://assets.macysassets.com/dyn_img/creativepages/C8030588_share&title=Make%20Good%20Cents&description=Round%20up%20your%20in-store%20purchases%20at%20Macy%27s%20%26%20donate%20your%20change%2C%20up%20to%20%240.99%2C%20to%20fund%20scholarships%20to%20send%20kids%20to%20summer%20camp%20at%20the%20Y!" class="mgc-facebook" target="_blank">facebook</a>
        <a href="https://twitter.com/share?url=https://www.macys.com/ce/splash/make-good-cents/index&text=Round%20up%20your%20in-store%20purchases%20at%20%40macy%27s%20%26%20donate%20your%20change%2C%20up%20to%20%240.99%2C%20to%20fund%20scholarships%20to%20send%20kids%20to%20summer%20camp%20at%20the%20%40YMCA!" class="mgc-twitter" target="_blank">twitter</a>
    </div>
-->
    {{! HERO }}

    <div class="mgc-hero text-center">
        <img src="{{imageUrlAssets}}/make-good-cents_01.png" alt="make good cents">
        <h2>
            YOUR EXTRA CHANGE<br>
            MADE A DIFFERENCE
        </h2>
        <p>
            This May, you rounded up your Macy’s<br class="show-for-medium-down"> 
            purchases to the nearest<br class="show-for-large-up"> dollar—up to<br class="show-for-medium-down"> 
            $0.99—and we donated your change to fund scholarships<br class="show-for-large-up"> to send kids to summer<br class="show-for-medium-down"> 
            camp at the Y. Thanks for your support!
        </p>
    </div>

    {{! YMCA IMAGE }}

    <div class="mgc-ymca">
        {{!-- <div class="mgc-ymca-arrow"></div> --}}
        <img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_01.jpg" alt="The YMCA">
    </div>

    {{! ACTIVE GIVING }}

    <div class="mgc-active-giving text-center">
        <h2>Active Giving</h2>
        
        <p class="mgc-subheader">Macy's supports the Y in keeping kids' minds and bodies active through summer camp programs.</p>
        
        <div class="mgc-info1">
            <p>Studies show that camp experiences promote physical well-being for youth and help them gain important social skills. But not all kids can afford to go to summer camp&mdash;that's where we come in.</p>
        </div>

        <div class="mgc-info2">
            <p>When you round up your in-store purchases, 100% of your donation goes to helping kids who might not otherwise be able to attend summer camp at the Y. That means healthier, more active kids&mdash;and stronger communities around the country.</p>
        </div>

        <div class="mgc-info3">
            <p>With the support of customers like you, Macy's has raised over <strong>$900,000</strong> for the Y to help send more than 8,000 kids to summer camp. Together, we can enrich the summer for even more kids.</p>
        </div>

        <p class="mgc-subfooter">The Y is committed to strengthening communities through youth development, healthy living and social responsibility. Its summer camp programs help more underserved youth have the chance to attend camp, where they are introduced to new experiences that build confidence and develop skills for them to take back to school.</p>
        
        <a class="mgc-btn" rel="nofollow" href="http://www.ymca.net/" onclick="javascript:cmCreateLinkClickTag(this,'findoutmore')" target="_blank">FIND OUT MORE</a>
    </div>

    <div class="mgc-cren"></div>


    {{! STORIES / SLICK SLIDER }}

    <div class="mgc-slider-container">
        <div class="mgc-story">
            <div class="mgc-slick clearfix">
                <div>
                    <div class="mgc-story-icon">
                        <img class="show-for-large-up" src="{{imageUrlAssets}}/C8030588_circle1.png" alt="Shailyn">
                        <img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_circle1.png" alt="Shailyn">
                        <p class="mgc-icon-title">Shailyn</p>
                        <p class="mgc-icon-byline"><strong>Joplin Family YMCA<br>Joplin, MO</strong></p>
                    </div>

                    <div class="mgc-story-text">
                        <p>"As a single, working mom, YMCA day camp is the only way I can maintain my job over the summer," said Shailyn's mom, Tish. "Not only do I know my daughter is safe and supervised, she also receives meals and snacks as part of the Y program."</p>
                        <p>Shailyn is just one of the campers who will benefit from Macy's partnership with the Joplin Family YMCA, which prides itself on providing a healthy, fun, affordable summer experience to at-risk kids in Joplin, Missouri.</p>
                    </div>
                </div>

                <div>
                    <div class="mgc-story-icon">
                        <img class="show-for-large-up" src="{{imageUrlAssets}}/C8030588_circle2.png" alt="Cierra">
                        <img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_circle2.png" alt="Cierra">
                        <p class="mgc-icon-title">Cierra</p>
                        <p class="mgc-icon-byline"><strong>YMCA of Greenville<br>Greenville, NC</strong></p>
                    </div>

                    <div class="mgc-story-text">
                        <p>When Tameka Thompson had a massive stroke at the age of 29, leaving her severely disabled, she needed a safe space for her daughter, Cierra, to spend the summer. When Cierra left for summer camp with the YMCA of Greenville, she was insecure and frightened. But while she was there, she gained confidence, built new friendships, and developed leadership skills.</p>
                        <p>"Her confidence gave me confidence. She helped me push myself to learn how to read again, write again, and speak again," said Tameka. "I am so grateful for donors of the YMCA."</p>
                    </div>
                </div>

                <div>
                    <div class="mgc-story-icon">
                        <img class="show-for-large-up" src="{{imageUrlAssets}}/C8030588_circle3.png" alt="Josh">
                        <img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_circle3.png" alt="Josh">
                        <p class="mgc-icon-title">Josh</p>
                        <p class="mgc-icon-byline"><strong>YMCA of Greater New York<br>New York, NY</strong></p>
                    </div>

                    <div class="mgc-story-text mgc-noborder">
                        <p>When Josh's father died suddenly in a drowning accident in Texas, his New York City aunt, Rachel, became his guardian. Overnight, she became a single working mom&mdash;and Josh had a whole new city to adjust to.</p>
                        <p>Rachel enrolled him in summer camp at the Y, where he learned how to swim. "The least I could do for Josh is to make sure that he enjoys being in water without fear," said Rachel, "especially because of how we lost his father, my brother." But the Y's benefits didn't stop at swimming lessons. "The Y is not like a gym," said Rachel. "It's my support system."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{! FACTS }}

    <div class="mgc-facts">
        <div class="mgc-fact-container clearfix">
            <div class="mgc-fact1">
                <img class="show-for-large-up" src="{{imageUrlAssets}}/C8030588_icon1.png" alt="kite">
                <img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_icon1.png" alt="kite">
                <p>YMCAs around the country serve more than <strong>950,000</strong> kids and adults with summer camp programs each year.</p>
            </div>

            <div class="mgc-sep1"></div>

            <div class="mgc-fact2">
                <img class="show-for-large-up" src="{{imageUrlAssets}}/C8030588_icon2.png" alt="scale">
                <img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_icon2.png" alt="scale">
                <p>Research shows that kids who don’t have access to camp during the summer gain weight & fall behind academically at <strong>twice</strong> the rate of kids who do.</p>
            </div>

            <div class="mgc-sep2"></div>

            <div class="mgc-fact3">
                <img class="show-for-large-up" src="{{imageUrlAssets}}/C8030588_icon3.png" alt="scroll">
                <img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_icon3.png" alt="scroll">
                <p><strong>18%</strong> of summer campers receive scholarship assistance.</p>
            </div>
        </div>
    </div>

    {{! FOOTER }}

    <div class="mgc-footer text-center">
        <p>To see what we're doing year-round, visit</p>
        <a href="{{domainUrl}}/social/macys-gives/" onclick="javascript:cmCreateLinkClickTag(this,'macysgives')" target="_blank"><img class="show-for-large-up" src="{{imageUrlAssets}}/macys-gives-logo.png" alt="Macy's gives"><img class="hide-for-large-up" src="{{imageUrlAssets}}/C8030589_02.png" alt="Macy's gives"></a>
    </div>

</div>